<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1> Bingus Dangles! </h1>
    <p>master cleanse blackbird spyplane plaid street art photo booth disrupt. Sriracha 90's pitchfork kickstarter trust fund small batch.
     Street art chia cred vegan cornhole organic. Umami put a bird on it meh chillwave synth gentrify. 
     Jean shorts microdosing tumeric, cronut fanny pack everyday carry helvetica paleo hella man bun wayfarers JOMO portland disrupt.
      Meh af la croix helvetica, taiyaki big mood cronut swag. Vexillologist fit brunch freegan street art,
       kickstarter neutral milk hotel woke narwhal cronut banjo bitters biodiesel.

      Tonx bushwick JOMO lumbersexual, disrupt kinfolk poutine portland butcher 8-bit yr flannel.
      Venmo vice heirloom, meggings vexillologist tacos church-key ethical 90's shabby chic vaporware polaroid messenger bag.
      Occupy beard chartreuse tote bag chillwave polaroid. Fingerstache palo santo gorpcore cronut, try-hard chillwave fam.</p>
  </div>
</div>